<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <h1>Doctor Data</h1>
    <form [formGroup]="doctorForm">
        <label>Name:</label>
        <input type="text" placeholder="Enter Your Name" formControlName="Name">

        <label>Mobile:</label>
        <input type="number" placeholder="+91 " formControlName="mobile">

        <label>Department:</label>
        <input type="text" placeholder="Department" formControlName="department">

        <label>Sallery:</label>
        <input type="number" placeholder="" formControlName="sallery">

        <label>Location</label>
        <input type="text" placeholder="Location" formControlName="location">
        <!-- <select id="location">
            <option value="Select">Select</option>
            <option value="Pondicherry">Pondicherry</option>
            <option value="Chennai">Chennai</option>
            <option value="Villupuram">Villupuram</option>
        </select><br> -->
        <input type="submit" value="Submit" (click)="submit()">
    </form>
</div>

<h1>Table</h1>
<table border="1" cellpadding="20px" style="margin: auto">
    <tr>
        <th>Sl.No</th>
        <th>Name</th>
        <th>Mobile</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Location</th>
        <th>Action</th>
    </tr>
    <tr *ngFor ="let items of this.data; let i = index">
        <td>{{i+1}}</td>
        <td>{{items.Name}}</td>
        <td>{{items.mobile}}</td>
        <td>{{items.department}}</td>
        <td>{{items.sallery}}</td>
        <td>{{items.location}}</td>
        <td><i class="fa fa-edit" (click)="editDoctorData(items._id, items)"></i> <i class="fa fa-trash" (click)="deleteDoctorData(items._id)"></i></td>
    </tr>    
</table>
