<h1> Admin Signup Form </h1>  
<form [formGroup]="adminForm">  
    <div class="container">   
        <label>Name: </label>
        <input type="text" placeholder="Enter your first name" formControlName="Name">
        <label>Age: </label>
        <input type="number" placeholder="Enter your age" formControlName="Age"> 
        <label>Email: </label>
        <input type="email" placeholder="Enter your email" formControlName="Email"> 
        <label>Password: </label>   
        <input type="password" placeholder="xxxxxxx" formControlName="password">        
        <button type="submit" id="signup" values="Submit" (click)="submit()">Register</button>
    </div>   
</form> 