<div class="container">
    <h1>Update Doctor Data</h1>
    <form [formGroup]="updateForm">
        <label>Name:</label>
        <input type="text" placeholder="Enter Your Name" formControlName="Name">

        <label>Mobile:</label>
        <input type="number" placeholder="+91 " formControlName="mobile">

        <label>Department:</label>
        <input type="text" placeholder="Department" formControlName="department">

        <label>Sallery:</label>
        <input type="number" placeholder="" formControlName="sallery">

        <label>Location</label>
        <input type="text" placeholder="Location" formControlName="location">
        <input type="submit" value="update" (click)="update()">
    </form>
</div>